<div id="content_box">
<p class="h1">SKŁAD RADY RODZICÓW W 2014/2015</p>
<table>
 <tr>
   <td class="rada_funkcja">Przewodniczący Rady Rodziców:</td>
   <td class="rada_osoby">p. Ćwiklińska Magdalena</td>
 </tr>
 <tr>
   <td class="rada_funkcja">Zastępca przewodniczącego:</td>
   <td class="rada_osoby">p. Laszkiewicz Maciej</td>
 </tr>
 <tr>
   <td class="rada_funkcja">Sekretarz:</td>
   <td class="rada_osoby">p. Smejlis - Jastrząbek Sylwia</td>
 </tr>
 <tr>
   <td class="rada_funkcja">Skarbnik:</td>
   <td class="rada_osoby">p. Magrian Karolina</td>
 </tr>
 <tr>
   <td class="rada_funkcja">Komisja rewizyjna:</td>
   <td class="rada_osoby">p. Kurecka Żaneta, p. Szeląg Sandra</td>
 </tr>
 <tr>
   <td class="rada_funkcja">Członkowie:</td>
   <td class="rada_osoby">p. Borowiak Joanna, p. Herta Karol, p. Będzińska Martyna, p. Borowska Agnieszka, p. Jarosz Karolina, p. Malinowska Katarzyna, p. Kramkowski Maciej, p. Gwiaździńska Violetta, p. Mientka Anna</td>
 </tr>
 </table>

<p class="h1">REGULAMIN RADY RODZICÓW PRZY PRZEDSZKOLU SAMORZĄDOWYM NR 28 W GDYNI - WITOMINIE</p>
<p>Podstawa prawna: 
  Ustawa z dnia 11 kwietnia 2007r. o zmianie ustawy o systemie oświaty oraz zmianie niektórych innych ustaw (Dz. U. 2007r. Nr. 80, poz. 542).
</p>

<ol>
  <li>W placówce działa Rada Rodziców, która reprezentuje ogół rodziców dzieci.</li>
  <li>Rada Rodziców liczy co najmniej 7 przedstawicieli wybranych w tajnych wyborach przez zebranie rodziców wychowanków danej placówki.</li>
  <li>W wyborach jedno dziecko reprezentuje jeden rodzic. Wybory przeprowadza się na pierwszym zebraniu rady w każdym roku.</li>
  <li>
	  Rada Rodziców uchwala regulamin swej działalności, w którym określa się w szczególności:
	  <ul>
	    <li>Wewnętrzną strukturę i tryb pracy rady</li>
	    <li>Szczegółowy tryb przeprowadzania wyborów do Rady Rodziców placówki.</li>
		</ul>
	</li>
  <li>
	  Skład Prezydium Rady Rodziców stanowią:
    <ul>
	    <li>Przewodniczący</li>
	    <li>Zastępca przewodniczącego</li>
	    <li>Skarbnik</li>
	    <li>Sekretarz</li>
	    <li>Komisja rewizyjna w liczbie dwóch członków</li>
		</ul>
	</li>
  <li>Zadaniem Przewodniczącego Rady Rodziców jest kierowanie całokształtem prac Rady, zwoływaniem i prowadzeniem posiedzeń oraz reprezentowaniem jej na zewnątrz.</li>
  <li>Zastępca przewodniczącego Rady Rodziców przejmuje obowiązki przewodniczącego podczas jego nieobecności.</li>
  <li>Skarbnik jest odpowiedzialny za prawidłową gospodarkę funduszami gromadzonymi przez Radę oraz składaniem sprawozdań z działalności finansowo - gospodarczej.</li>
  <li>Sekretarz odpowiedzialny jest za protokołowanie posiedzeń Rady Rodziców, zawiadamianie o terminach posiedzeń i porządku obrad.</li>
  <li>Na posiedzeniach Rady Rodziców z głosem doradczym uczestniczy dyrektor przedszkola.</li>
  <li>Rada Rodziców może występować do dyrektora i innych organów placówki, organu prowadzącego oraz organu sprawującego nadzór pedagogiczny z wnioskami i opiniami we wszystkich sprawach przedszkola.</li>
  <li>
	  Do kompetencji Rady Rodziców należy:
    <ul>
	    <li>Opiniowanie w porozumieniu z Radą Pedagogiczną rocznego planu pracy przedszkola obejmującego wszystkie treści i działania o charakterze wychowawczym, opiekuńczym, edukacyjnym skierowane do dzieci, realizowanego przez nauczycieli</li>
	    <li>Opiniowanie plany nadzoru pedagogicznego</li>
	    <li>Opiniowanie projektu plany finansowego składanego przez dyrektora przedszkola</li>
		</ul>
	</li>
  <li>W celu wspierania działalności statutowej przedszkola Rada Rodziców może gromadzić fundusze z dobrowolnych składek rodziców oraz innych źródeł.</li>
  <li>
	  Kwoty składki uiszczonej przez rodziców przeznacza się na:
    <ul>
	    <li>Programy estradowe i teatrzyki</li>
	    <li>Upominki okazjonalne z okazji świąt</li>
	    <li>Upominki i dyplomy na zakończenie roku przedszkolnego (dla 6-latków)</li>
	    <li>Dopłaty do wycieczek</li>
	    <li>Zakup zabawek, słodyczy i ciast, kwiatów</li>
	    <li>Zakup artykułów piśmienniczych oraz książek oraz przygotowanie uroczystości związanych ze świętami (Boże Narodzenie, Wielkanoc)</li>
		</ul>
	</li>
  <li>Członkowie Rady Rodziców nie wywiązujący się z założonych na nich obowiązków mogą być odwołani przez Radę Rodziców lub na zebraniu grupowym.</li>
</ol> 

</div>