<div id="content_box">

<p class="h1">Remont kuchni i zaplecza kuchennego w budynku Przedszkola nr 28 w Gdyni.</p>


PRZETARG NA REMONT KUCHNI I ZAPLECZA KUCHENNEGO<br/><br/>

Dyrektor Przedszkola nr 28  w Gdyni ogłasza przetarg nieograniczony o wartości poniżej 5 000 000 euro na prace 
budowlane:„Remont kuchni i zaplecza kuchennego w budynku Przedszkola nr 28 w Gdyni – etap II zamówienia”.<br/>
<br/>
<br/>
Gdynia: PRZETARG NIEOGRANICZONY O WARTOŚCI PONIŻEJ 5.000.000 EURO NA ROBOTY BUDOWLANE<br/>
Numer ogłoszenia: 87167 - 2013; data zamieszczenia: 23.05.2013<br/>
OGŁOSZENIE O ZAMÓWIENIU - roboty budowlane<br/>
<br/>
Zamieszczanie ogłoszenia: obowiązkowe.<br/>
<br/>
Ogłoszenie dotyczy: zamówienia publicznego.<br/>
<br/>
<p class="h1">SEKCJA I: ZAMAWIAJĄCY</p>

I. 1) NAZWA I ADRES: Przedszkole Nr 28 w Gdyni , ul. Narcyzowa 3, 81-653 Gdynia, woj. pomorskie, tel. 58 6241381, faks 58 6218030.<br/>

    Adres strony internetowej zamawiającego: przedszkole28.logonet.pl<br/>
    Adres strony internetowej, pod którym dostępne są informacje dotyczące dynamicznego systemu zakupów: przedszkole28.logonet.pl<br/>
<br/>
I. 2) RODZAJ ZAMAWIAJĄCEGO: Inny: przedszkole.<br/>
<br/>
<p class="h1">SEKCJA II: PRZEDMIOT ZAMÓWIENIA</p>
<br/>
II.1) OKREŚLENIE PRZEDMIOTU ZAMÓWIENIA<br/>
<br/>
II.1.1) Nazwa nadana zamówieniu przez zamawiającego: PRZETARG NIEOGRANICZONY O WARTOŚCI PONIŻEJ 5.000.000 EURO NA ROBOTY BUDOWLANE.<br/>
<br/>
II.1.2) Rodzaj zamówienia: roboty budowlane.<br/>
<br/>
II.1.4) Określenie przedmiotu oraz wielkości lub zakresu zamówienia: PRZEDMIOT ZAMÓWIENIA OBEJMUJE REMONT POMIESZCZEŃ KUCHNI I ZAPLECZA KUCHENNEGO W PRZEDSZKOLU NR 28 W GDYNI.<br/>
<br/>
II.1.6) Wspólny Słownik Zamówień (CPV): 45.11.00.00-1, 45.41.00.00-4, 45.44.21.00-8, 45.42.10.00-4, 45.42.11.41-4, 45.43.10.00-7, 45.22.31.00-7, 45.33.00.00-3, 45.33.12.10-1, 36.14.00.00-4.<br/>
<br/>
II.1.7) Czy dopuszcza się złożenie oferty częściowej: nie.<br/>
<br/>
II.1.8) Czy dopuszcza się złożenie oferty wariantowej: nie.<br/>
<br/>
II.2) CZAS TRWANIA ZAMÓWIENIA LUB TERMIN WYKONANIA: Zakończenie: 31.07.2013.<br/>
<br/>
<p class="h1">SEKCJA III: INFORMACJE O CHARAKTERZE PRAWNYM, EKONOMICZNYM, FINANSOWYM I TECHNICZNYM</p>

III.1) WADIUM<br/>
<br/>
Informacja na temat wadium: WADIUM W KWOCIE 5400,00<br/>
<br/>
III.2) ZALICZKI<br/>
<br/>
III.3) WARUNKI UDZIAŁU W POSTĘPOWANIU ORAZ OPIS SPOSOBU DOKONYWANIA OCENY SPEŁNIANIA TYCH WARUNKÓW<br/>
<br/>
III. 3.1) Uprawnienia do wykonywania określonej działalności lub czynności, jeżeli przepisy prawa nakładają obowiązek ich posiadania<br/>
<br/>
Opis sposobu dokonywania oceny spełniania tego warunku<br/>
<br/>
<br/>O UDZIELENIE ZAMÓWIENIA MOGĄ UBIEGAĆ SIĘ WYKONAWCY KTÓRZY NIE PODLEGAJĄ WYKLUCZENIU NA PODSTAWIE ART 24 USTAWY PRAWO ZAMÓWIEŃ PUBLICZNYCH AKTUALNY ODPIS Z WŁAŚCIWEGO REJESTRU LUB Z CENTRALI EWIDENCJI O DZIAŁALNOŚCI GOSPODARCZEJ<br/>
<br/>
III.3.2) Wiedza i doświadczenie<br/>
<br/>
Opis sposobu dokonywania oceny spełniania tego warunku<br/>
<br/>
WYKONAWCA WYKAŻE ŻE W OKRESIE OSTATNICH 5 LAT WYKONAŁA CO NAJMNIEJ 2 ROBOTY BUDOWLANE POLEGAJĄCE NA PRZEBUDOWIE LUB BUDOWIE POMIESZCZEŃ KUCHNI LUB ZAPLECZA KUCHENNEGO O WARTOŚCI NETTO MINIMUM 90.000,00<br/>
<br/>
III.3.3) Potencjał techniczny<br/>
<br/>
Opis sposobu dokonywania oceny spełniania tego warunku<br/>
<br/>
OSOBY KTÓRE POSIADAJĄ UPRAWNIENIA W SPECJALNOŚCIACH KONSTRUKCYJNO - BUDOWLANYCH ORAZ INSTALACJI URZĄDZEŃ CIEPLNYCH , WENTYLACYJNYCH , GAZOWYCH ,WODOCIĄGOWYCH , KANALIZACYJNYCH<br/>
<br/>
III.3.4) Osoby zdolne do wykonania zamówienia<br/>
<br/>
Opis sposobu dokonywania oceny spełniania tego warunku<br/>
<br/>
OSOBY POSIADAJĄCE UPRAWNIENIA BUDOWLANE<br/>
<br/>
III.3.5) Sytuacja ekonomiczna i finansowa<br/>
<br/>
Opis sposobu dokonywania oceny spełniania tego warunku<br/>
<br/>
WYKONAWCA POSIADA UBEZPIECZENIA OD ODPOWIEDZIALNOŚCI CYWILNEJ W ZAKRESIE PROWADZONEJ DZIAŁALNOŚCI NA KWOTĘ NIE NIŻSZĄ NIŻ 180.000,00<br/>
<br/>
III.4) INFORMACJA O OŚWIADCZENIACH LUB DOKUMENTACH, JAKIE MAJĄ DOSTARCZYĆ WYKONAWCY W CELU POTWIERDZENIA SPEŁNIANIA WARUNKÓW UDZIAŁU W POSTĘPOWANIU ORAZ NIEPODLEGANIA WYKLUCZENIU NA PODSTAWIE ART. 24 UST. 1 USTAWY<br/>
<br/>
III.4.1) W zakresie wykazania spełniania przez wykonawcę warunków, o których mowa w art. 22 ust. 1 ustawy, oprócz oświadczenia o spełnianiu warunków udziału w postępowaniu należy przedłożyć:<br/>
<br/>
potwierdzenie posiadania uprawnień do wykonywania określonej działalności lub czynności, jeżeli przepisy prawa nakładają obowiązek ich posiadania, w szczególności koncesje, zezwolenia lub licencje;<br/>
wykaz robót budowlanych wykonanych w okresie ostatnich pięciu lat przed upływem terminu składania ofert albo wniosków o dopuszczenie do udziału w postępowaniu, a jeżeli okres prowadzenia działalności jest krótszy - w tym okresie, wraz z podaniem ich rodzaju i wartości, daty i miejsca wykonania oraz z załączeniem dowodów dotyczących najważniejszych robót, określających, czy roboty te zostały wykonane w sposób należyty oraz wskazujących, czy zostały wykonane zgodnie z zasadami sztuki budowlanej i prawidłowo ukończone;<br/>
wykaz osób, które będą uczestniczyć w wykonywaniu zamówienia, w szczególności odpowiedzialnych za świadczenie usług, kontrolę jakości lub kierowanie robotami budowlanymi, wraz z informacjami na temat ich kwalifikacji zawodowych, doświadczenia i wykształcenia niezbędnych do wykonania zamówienia, a także zakresu wykonywanych przez nie czynności, oraz informacją o podstawie do dysponowania tymi osobami;<br/>
oświadczenie, że osoby, które będą uczestniczyć w wykonywaniu zamówienia, posiadają wymagane uprawnienia, jeżeli ustawy nakładają obowiązek posiadania takich uprawnień;<br/>
opłaconą polisę, a w przypadku jej braku, inny dokument potwierdzający, że wykonawca jest ubezpieczony od odpowiedzialności cywilnej w zakresie prowadzonej działalności związanej z przedmiotem zamówienia.<br/>
<br/>
Wykonawca powołujący się przy wykazywaniu spełnienia warunków udziału w postępowaniu, o których mowa w art. 22 ust. 1 pkt 4 ustawy, na zasoby innych podmiotów przedkłada następujące dokumenty dotyczące podmiotów, zasobami których będzie dysponował wykonawca:<br/>
<br/>
opłaconą polisę, a w przypadku jej braku, inny dokument potwierdzający, że inny podmiot jest ubezpieczony od odpowiedzialności cywilnej w zakresie prowadzonej działalności związanej z przedmiotem zamówienia;<br/>
<br/>
III.4.2) W zakresie potwierdzenia niepodlegania wykluczeniu na podstawie art. 24 ust. 1 ustawy, należy przedłożyć:<br/>
<br/>
oświadczenie o braku podstaw do wykluczenia;<br/>
aktualny odpis z właściwego rejestru lub z centralnej ewidencji i informacji o działalności gospodarczej, jeżeli odrębne przepisy wymagają wpisu do rejestru lub ewidencji, w celu wykazania braku podstaw do wykluczenia w oparciu o art. 24 ust. 1 pkt 2 ustawy, wystawiony nie wcześniej niż 6 miesięcy przed upływem terminu składania wniosków o dopuszczenie do udziału w postępowaniu o udzielenie zamówienia albo składania ofert;<br/>
aktualne zaświadczenie właściwego naczelnika urzędu skarbowego potwierdzające, że wykonawca nie zalega z opłacaniem podatków, lub zaświadczenie, że uzyskał przewidziane prawem zwolnienie, odroczenie lub rozłożenie na raty zaległych płatności lub wstrzymanie w całości wykonania decyzji właściwego organu - wystawione nie wcześniej niż 3 miesiące przed upływem terminu składania wniosków o dopuszczenie do udziału w postępowaniu o udzielenie zamówienia albo składania ofert;<br/>
aktualne zaświadczenie właściwego oddziału Zakładu Ubezpieczeń Społecznych lub Kasy Rolniczego Ubezpieczenia Społecznego potwierdzające, że wykonawca nie zalega z opłacaniem składek na ubezpieczenia zdrowotne i społeczne, lub potwierdzenie, że uzyskał przewidziane prawem zwolnienie, odroczenie lub rozłożenie na raty zaległych płatności lub wstrzymanie w całości wykonania decyzji właściwego organu - wystawione nie wcześniej niż 3 miesiące przed upływem terminu składania wniosków o dopuszczenie do udziału w postępowaniu o udzielenie zamówienia albo składania ofert;<br/>
<br/>
III.4.4) Dokumenty dotyczące przynależności do tej samej grupy kapitałowej<br/>
<br/>
lista podmiotów należących do tej samej grupy kapitałowej w rozumieniu ustawy z dnia 16 lutego 2007 r. o ochronie konkurencji i konsumentów albo informacji o tym, że nie należy do grupy kapitałowej;
<br/>
<p class="h1">SEKCJA IV: PROCEDURA</p>
<br/>
IV.1) TRYB UDZIELENIA ZAMÓWIENIA<br/>
<br/>
IV.1.1) Tryb udzielenia zamówienia: przetarg nieograniczony.<br/>
<br/>
IV.2) KRYTERIA OCENY OFERT
<br/>
IV.2.1) Kryteria oceny ofert: najniższa cena.<br/>
<br/>
IV.4) INFORMACJE ADMINISTRACYJNE<br/>
<br/>
IV.4.1) Adres strony internetowej, na której jest dostępna specyfikacja istotnych warunków zamówienia: przedszkole28gdynia@neostrada.pl BIP URZĄD MIASTA W GDYNI<br/>
Specyfikację istotnych warunków zamówienia można uzyskać pod adresem: PRZEDSZKOLE NR 28 UL NARCYZOWA 3 81-653 GDYNIA.<br/>
<br/>
IV.4.4) Termin składania wniosków o dopuszczenie do udziału w postępowaniu lub ofert: 11.06.2013 godzina 11:00, miejsce: PRZEDSZKOLE NR 28 UL NARCYZOWA 3 81-653 GDYNIA.<br/>
<br/>
IV.4.5) Termin związania ofertą: do 31.07.2013.<br/>
<br/>
IV.4.17) Czy przewiduje się unieważnienie postępowania o udzielenie zamówienia, w przypadku nieprzyznania środków pochodzących z budżetu Unii Europejskiej oraz niepodlegających zwrotowi środków z pomocy udzielonej przez państwa członkowskie Europejskiego Porozumienia o Wolnym Handlu (EFTA), które miały być przeznaczone na sfinansowanie całości lub części zamówienia: nie<br/>
<br/>
Szczegóły ogłoszenia wraz załącznikami dostępne są pod adresem:<br/>
<a href="http://www.gdynia.pl/bip/jednostki/info/6549_85486.html" target="_blank">http://www.gdynia.pl/bip/jednostki/info/6549_85486.html</a>

<p class="h1">Ogłoszenie o wyniku przetargu nieograniczonego na wykonanie roboty budowlanej "Przebudowa pomieszczeń kuchni i zaplecza kuchennego w budynku-Etap II</p>

<p>Dyrektor Przedszkola Nr 28 w Gdyni ul. Narcyzowa 3, zgodnie z art. 92 ust 2 Ustawy Prawo Zamówień Publicznych z dnia 29.01.2004 r. zatwierdził wynik postępowania o udzielenie zamówienia publicznego przeprowadzonego w trybie przetargu nieograniczonego poniżej 5.000.000 euro na robotę budowlaną
"Przebudowa pomieszczeń kuchni i zaplecza kuchennego w budynku Przedszkola Nr 28 w Gdyni przy ul. Narcyzowej 3- Etap II"
    Wybór najkorzystniejszej oferty firmy Biuro Techniczno -Handlowe Branży Energetycznej "TERMA" S.J. ul. Polanki 12 80- 308 Gdańsk z ceną 156.210,00 zł, która była najniższą spośród ofert spełniających warunki określone z SIWZ. Najkorzystniejsza oferta została wybrana na podstawie kryterium:<br/><br/>
Cena- 100%<br/><br/>
W wyznaczonym terminie wpłynęła 1 oferta, która spełniała warunki w postępowaniu określone w SIWZ, ofertę złożył następujący wykonawca:</p>
<p>
1. Biuro Techniczno- Handlowe Branży Energetycznej "TERMA" S.J. ul. Polanki 12
          80-308 Gdańsk- cena ofert brutto 156.210,00 zł
<p/>
<p>
Nie wykluczono żadnego wykonawcy oraz żadna oferta nie została odrzucona.
Umowa o realizację zamówienia zostanie zawarta w terminie 25.06.2013 r. o godzinie 12.OO"
</p>
</div>