<div id="content_box">
<p class="h1">Pracownicy przedszkola</p>

<div class="grono_nag">Grupa I (Żuczki)</div>
<ul class="grono_elem">
<li>p. Jolanta Orent- dyrektor przedszkola</li>
<li>p. Iwona Tryzna- z-ca dyrektora</li>
<li>p. Małgorzta N.- nauczycielka</li>
<li>p. Dorota H. - pomoc nauczyciela</li>
<li>p. Alicja J.- woźna oddziałowa</li>
</ul>

<div class="grono_nag">Grupa II (Biedroneczki)</div>
<ul class="grono_elem">
<li>p. Agnieszka S.- nauczycielka</li>
<li>p. Maria T.- nauczycielka</li>
<li>p. Ewa M. - pomoc nauczyciela</li>
<li>p. Iwona G. - woźna oddziałowa</li>
</ul>

<div class="grono_nag">Grupa III (Jeżyki)</div>
<ul class="grono_elem">
<li>p. Sonia P. - nauczycielka</li>
<li>p. Sabina W.- nauczycielka</li>
<li>p. Justyna A.- woźna oddziałowa</li>
</ul>

<div class="grono_nag">Grupa IV (Misie)</div>
<ul class="grono_elem">
<li>p. Natalia G. -nauczycielka</li>
<li>p. Zdzisława W. - nauczycielka</li>
<li>p. Wiesława P.- woźna oddziałowa</li>
</ul>

<div class="grono_nag">Grupa V (Liski)</div>
<ul class="grono_elem">
<li>p. Małgorzata K. - nauczycielka</li>
<li>p. Patrycja N. - nauczycielka</li>
<li>p. Alicja J. - woźna oddziałowa</li>
</ul>

<div class="grono_nag">Grupa VI (Zajączki)</div>
<ul class="grono_elem">
<li>p. Ula- nauczycielka</li>
<li>p. Monika J. - nauczycielka</li>
<li>p. Mariola R.- woźna oddziałowa</li>
</ul>

</div>