<div id="content_box">
<p class="h1">Harmonogram wydarzeń na rok szkolny 2012/2013</p>

<ul class="harmonogram">
<li><b>Pasowanie na starszaka</b> (dla starszych grup - październik)</li>
<li><b>Andrzejki</b> (dla wybranej grupy)</li>
<li><b>Światowy Dzień Pluszowego Misia</b> (wszystkie grupy - 25 listopad)</li>
<li><b>Spotkanie z Mikołajem</b> (wszystkie grupy - 5 grudzień)</li>
<li><b>Jasełka</b> (wykonanie przez grupę V i IV)</li>
<li><b>Wigilia przedszkolna</b> (wszystkie grupy - grudzień)</li>
<li><b>Bal karnawałowy</b> (wszystkie grupy)</li>
<li><b>Walentynki</b> (wszystkie grupy - luty)</li>
<li><b>Dzień Babci i Dziadka</b> (wszystkie grupy - styczeń)</li>
<li><b>Powitanie Wiosny</b> (wszystkie grupy - 23 marzec)</li>
<li><b>Dzień Polskiej Niezapominajki</b> (wszystkie grupy - 15 maj)</li>
<li><b>Dzień Mamy i Taty</b> (wszystkie grupy - koniec maja)</li>
<li><b>Dzień Dziecka</b> (wszystkie grupy - czerwiec)</li>
<li><b>Przedstawienie dla dzieci w wykonaniu rodziców z okazji Dnia Dziecka</b> (czerwiec)</li>
<li><b>Uroczyste zakończenie Roku Szkolnego</b> (starsze grupy - czerwiec)</li>
<li>Konkurs dla rodziców z dziećmi: "Mój ulubiony bohater z bajki" - rodzinny konkurs plastyczny, "Płynę statkiem"- rodzinny konkurs plastyczno-konstrukcyjny<br/>
</ul>

</div>