<div id="content_box">
<p class="h1">Rekrutacja do przedszkoli w roku szkolnym 2015/2016</p>
Dnia <b>30 marca od godz. 09.00</b> zostanie uruchomiona strona internetowa na portalu Urzędu Miasta 
dotycząca elektronicznej rekrutacji do oddziałów przedszkolnych wraz z ofertą placówek. 
Rekrutacja do oddziałów przedszkolnych odbywać się będzie drogą elektroniczną w dniach od <b>1 do 15 kwietnia 2015r.</b>
Szczegółowy harmonogram rekrutacji będzie można pobrać w terminie późniejszym tutaj:<br/><br/>
<a href="http://www.gdynia.pl/dla/mieszkancow/edukacja/news/334_101487.html">Harmonogram rekrutacji</a><br/><br/>
<a href="https://gdynia.formico.pl/formico-parents/main.action">Rekrutacja przez stronę internetową</a>

<p>W czasie rekrutacji  <b>od 1.04.2015 r. do 15.04.2015 r. </b> serdecznie zapraszamy chętnych rodziców z dziećmi do zwiedzania naszego przedszkola w godź.  8.30-14.30.</p>

<p>Dzień otwarty dla dzieci przyjętych na rok szkolny 2015/2016 odbędzie się  <b>dnia 19.06.2015 r.</b> (piątek) w godź. <b>9.00-13.00 </b></p>

<p>Harmonogram:</p>
<UL>
<li>zwiedzanie przedszkola</li>
<li>gry i zabawy na sali gimnastycznej</li>
<li>zabawy w salach dydaktycznych</li>
<li>pobyt w ogrodzie przedszkolnym z wykorzystaniem sprzętu rekreacyjno-sportowego (pod opieką rodziców)</li>
</ul>
</div>