<div id="content_box">
<p class="h1">Ramowy rozkład dnia</p>

<table>
 <tr>
   <td class="rozklad_godziny">
	    6.00 - 7.30   
   </td>
   <td class="rozklad_opis">
	   Schodzenie się dzieci. 
	   Swobodne zabawy przy niewielkim udziale nauczyciela. 
	   Praca indywidualna z dzieckiem.  
   </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
	   7.30 - 8.00
   </td>
   <td class="rozklad_opis">
		 Zabawa ruchowa, poranne ćwiczenia gimnastyczne.
   </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     8.00 - 8.30
	 </td>
   <td class="rozklad_opis">
     Śniadanie poprzedzone czynnościami samoobsługowymi.
	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     8.30 - 9.00
	 </td>
   <td class="rozklad_opis">
     Czynności porządkowe i organizacyjne.
	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     9.00 - 10.00
	 </td>
   <td class="rozklad_opis">
     Zajęcia dydaktyczne realizowane wg przyjętego programu wychowania przedszkolnego. 
 		 Cykliczne zajęcia umuzykalniające.
	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
	   10.15 - 11.45 
	 </td>
   <td class="rozklad_opis">
     Pobyt na świeżym powietrzu w ogrodzie przedszkolnym
	   (obserwacje przyrodnicze, prace gospodarcze i ogrodnicze).
	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     11.45 - 13.00
	 </td>
   <td class="rozklad_opis">
     Obiad poprzedzony czynnościami organizacyjnymi i samoobsługowymi.
   	Odpoczynek poobiedni, czytanie książek, wykorzystanie technik relaksacyjnych.     
	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     13.00 - 14.15     
	 </td>
   <td class="rozklad_opis">
     Pobyt w ogrodzie, spacery, zabawy ruchowe, ćwiczenia gimnastyczne i zajęcia dodatkowe.     
	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     14.15 - 14.30    
	 </td>
   <td class="rozklad_opis">
     Podwieczorek poprzedzony czynnościami samoobsługowymi.    
 	 </td>
 </tr>
 <tr>
   <td class="rozklad_godziny">
     14.30 - 17.00    
	 </td>
   <td class="rozklad_opis">
     Swobodne zabawy dzieci w kącikach zainteresowań.
	   Praca indywidualna z dzieckiem, prace porządkowe.    
 	 </td>
 </tr>
</table>
</div>
