<div id="content_box">
		<p class="h1">Witamy na stronie internetowej Przedszkola nr 28 w Gdyni.</p>
		<div id="o_nas_img"><img src="img/niezapyfoto.png" title="Wiosna" alt="Wiosna" /></div>
	  <div class="o_nas_tekst">
	    <p>Przedszkole znajduje się przy ulicy Narcyzowej 3 w dzielnicy Witomino w Gdyni. Przedszkole rozpoczęło swoją działalność w 1975 roku. Mieści się w wolno stojącym, dużym, jednopiętrowym budynku. Jego atutem jest położenie z dala od ruchliwej ulicy. Ogród przedszkolny jest duży oraz wyposażony w sprzęt do zajęć i zabaw ruchowych.</p>
	    <p>Placówka obejmuje swoją opieką dzieci w wieku od 3 do 6 roku życia. W przedszkolu funkcjonuje 6 grup wiekowych. Placówka posiada 6 przestronnych, kolorowych i przytulnych sal dydaktycznych zaopatrzonych w nowoczesny sprzęt, meble, pomoce dydaktyczne 
i zabawki. Bogate wyposażenie daje dzieciom możliwość do twórczego działania, aktywności i samorealizacji.
</p>
	    <p>Przedszkole posiada salę gimnastyczną, na której organizowane są zajęcia i  zabawy ruchowe, muzyczne, teatralne oraz różnego rodzaju uroczystości przedszkolne.</p>
	    <p>Ogród przedszkolny wyposażony jest w nowe przyrządy do ćwiczeń i zabaw na świeżym powietrzu. Zasadzone są w nim, a także pielęgnowane różnorodne krzewy i drzewa. Nasz plac zabaw zaspokaja potrzeby ruchowe dzieci a kolorowe i bezpieczne urządzenia rekreacyjne zachęcają do zabawy.</p>
	    <p>Nasze przedszkole jest przyjazne dzieciom i rodzicom. Dzięki skutecznej promocji nasze przedszkole cieszy się uznaniem w środowisku lokalnym. Dobra baza lokalowa, wyposażenie, estetyka pomieszczeń i otoczenia dopełnia działania dydaktyczno - wychowawcze i wpływa na wysoką ocenę. Przedszkole jest zarządzane w sposób sprawny 
i nowoczesny. Placówka inwestuje w nauczycieli, pracowników, bazę lokalową, a zyskują na tym przede wszystkim dzieci.
</p>

	  </div>
</div>