<div id="content_box">
<p class="h1">Wizja przedszkola</p>
<p>Każde dziecko jest dla nas ważne, traktujemy go jako swoistą indywidualność, dla którego podstawą rozwoju jest jego własne różnorodne działanie. Wykwalifikowana kadra pedagogiczna dba o wszechstronny rozwój wychowanków, zapewnia równość szans edukacyjnych każdemu dziecku. Sprawiamy, że dziecko czuje się akceptowane, kochane
 i szczęśliwe. Przygotowujemy je do przeżywania sukcesów, ale także do radzenia sobie 
z porażkami. Rodzice naszych wychowanków są partnerami w działaniach dydaktyczno-wychowawczych, wspomagając nas w pracach organizacyjnych. Wspólnie obserwujemy dzieci i dbamy o ich rozwój. Wszyscy pracownicy  przedszkola troszczą się 
o to, aby sama nazwa naszego przedszkola budziła szacunek, podziw oraz chęć do korzystania z jego usług.
</p>
<p class="h1">Nasze przedszkole:</p>
<p>
<ul>
<li>wspomaga wszechstronny rozwój dziecka odpowiednio do jego indywidualnych potrzeb i możliwości. Tworzy bezpieczne warunki do wspólnej nauki i zabawy.</li>
<li>promuje dbanie o zdrowie i zachowania przyjazne przyrodzie, buduje poczucie tożsamości regionalnej i narodowej, rozwija kompetencje społeczne, a także uczy odróżniania dobra od zła.</li>
<li>kreuje postawy aktywne, twórcze, wspiera działania dziecka w różnych dziedzinach aktywności</li>
<li>rozbudza zainteresowania otaczającym światem przyrodniczym, kulturowym i społecznym</li>
<li>rozbudza wiarę dziecka we własną skuteczność</li>
<li>pomaga dzieciom w pozytywnym postrzeganiu siebie i rozumieniu swoich uczuć</li>
<li>pomaga w rozwoju talentów dziecka, wspiera go w pokonywaniu trudności i barier</li>
<li>pełni  funkcję doradczą i wspierającą działania wychowawcze wobec rodziców.</li>
</ul>
</p>

<p class="h1">Dziecko w naszym przedszkolu:</p>
<p>
<ul>
<li>jest szczęśliwe, wesołe, czuje się bezpiecznie; </li>
<li>jest akceptowane takim, jakim jest oraz odnajduje swoje miejsce w grupie rówieśniczej 
i otaczającej rzeczywistości;</li>
<li>ma możliwość indywidualnego rozwoju oraz uczy się dostrzegać swoje mocne strony, buduje pozytywny obraz samego siebie;</li>
<li>jest ciekawe poznawczo i aktywne twórczo, kreatywne, chętnie podejmuje nowe wyzwania, osiąga sukcesy;</li>
<li>uczy się rozróżniać podstawowe wartości- dobro, miłość, przyjaźń oraz dostrzegać potrzeby innych ludzi, współpracować z innymi;<li>
<li>poznaje swoje prawa i obowiązki;</li>
<li>osiąga dojrzałość szkolną na wymaganym poziomie, gwarantującą mu powodzenie w dalszej ścieżce edukacyjnej;</li>
</ul>
</p>

<p class="h1">Nauczyciele w naszym przedszkolu:</p>
<p>
<ul>
<li>są aktywni i twórczy, innowacyjni, zaangażowani w pracę przedszkola, dyspozycyjni 
i taktowni, doskonalą swoją wiedzę i umiejętności, podnoszą kwalifikacje zawodowe, wzbogacają warsztat pracy, dzielą się wiedzą i doświadczeniem z innymi 
nauczycielami, monitorują efektywność własnej pracy;
</li>
<li>wspierają rozwój psychofizyczny dziecka, jego umiejętności, predyspozycje i uzdolnienia, obserwują i oceniają jego rozwój stosując nowoczesne metody pracy, tworząc i realizując własne programy dostosowane do potrzeb grupy i przedszkola;</li>
<li>współpracują w zespołach, z rodzicami i środowiskiem lokalnym a tym pozyskują rodziców do efektywnych działań na rzecz przedszkola oraz poszukują partnerów i przyjaciół przedszkola;</li>
<li>aktywnie realizują zadania przedszkola zgodnie z prawem oświatowym i dokumentacją placówki;</li>
</ul>
</p>

<p class="h1">Rodzice w naszym przedszkolu:</p>
<p>
<ul>
<li>współpracują z nauczycielami, otrzymują rzetelną i obiektywną informację o postępach 
i niepowodzeniach dziecka, korzystają z pomocy specjalistów;
</li>
<li>są partnerami w tworzeniu klimatu, działalności dydaktycznej i zarządzaniu placówką poprzez aktywne uczestnictwo;</li>
<li>wyrażają swoją opinię i oceniają pracę przedszkola;</li>
</ul>
</p>

<p class="h1">W organizacji procesu edukacyjnego:</p>
<p>
Do realizacji treści programowych wykorzystujemy w pracy z dzieckiem twórcze metody pracy sprzyjające aktywnemu myśleniu i działaniu dziecka:
<ul>
<li>ruchu Rozwijającego Weroniki Sherborne;</li>
<li>zajęcia i zabawy z obszaru edukacji matematycznej prof. E. Gruszczyk- Kolczyńskiej;</li>
<li>zajęcia i zabawy z zakresu mowy i myślenia- &quot;Gimnastyka mózgu&quot;- Dennisona;</li>
<li>zabawy i zajęcia ze wszystkich obszarów edukacji – pedagogika zabawy &quot;Klanza&quot;;</li>
<li>opowieść ruchową;</li>
<li>bajkoterapię;</li>
<li>metody relaksacyjne;</li>
<li>dramę;</li>
<li>burze mózgów;</li>
<li>zabawy paluszkowe;</li>
</ul>
W pracy z dzieckiem wykorzystujemy także elementy koncepcji pedagogicznych m. in 
R. Labana, K. Orffa, W. Sherborne, prof. E. Gruszczyk- Kolczyńskiej- dziecięcej matematyki, pedagogikę zabawy, kinezjologii edukacyjnej Dennisona, Metodę Dobrego Startu- metodę przygotowującą do nauki czytania i pisania.
<ul>
<li>poznajemy potrzeby i aspiracje edukacyjne dzieci;</li>
<li>wspieramy rozwój, na bieżąco diagnozując osiągnięcia dzieci, w trudnych sytuacjach zwracamy się do specjalistów;</li>
<li>indywidualizujemy pracę z dziećmi, uwzględniając ich zainteresowania, zdolności 
i potrzeby, dzięki temu umożliwiamy każdemu dziecku osiągnięcie sukcesu;</li>
<li>stwarzamy warunki organizacyjne, materialne i programowe do rozwijania u dzieci zainteresowań;</li>
</ul>
</p>

<p class="h1">Główne cele edukacji przedszkolnej:</p>
<p>
<ol>
<li>wspomaganie dzieci w rozwijaniu uzdolnień oraz kształtowanie czynności intelektualnych potrzebnych im w codziennych sytuacjach i w dalszej edukacji;</li>
<li>budowanie systemu wartości, w tym wychowywanie dzieci tak, żeby lepiej orientowały się w tym, co jest dobre, a co złe;</li>
<li>kształtowanie u dzieci odporności emocjonalnej koniecznej do racjonalnego radzenia sobie w nowych i trudnych sytuacjach, w tym także do łagodnego znoszenia stresów 
i porażek;
</li>
<li>rozwijanie umiejętności społecznych dzieci, które są niezbędne w poprawnych relacjach z dziećmi i dorosłymi;</li>
<li>stwarzanie warunków sprzyjających wspólnej i zgodnej zabawie oraz nauce dzieci 
o zróżnicowanych możliwościach fizycznych i intelektualnych;
</li>
<li>troska o zdrowie dzieci i ich sprawność fizyczną; zachęcanie do uczestnictwa 
w zabawach i grach sportowych;
</li>
<li>budowanie dziecięcej wiedzy o świecie społecznym, przyrodniczym i technicznym oraz rozwijanie umiejętności prezentowania swoich przemyśleń w sposób zrozumiały dla innych;</li>
<li>wprowadzenie dzieci w świat wartości estetycznych i rozwijanie umiejętności wypowiadania się poprzez muzykę, małe formy teatralne oraz sztuki plastyczne;</li>
<li>kształtowanie u dzieci poczucia przynależności społecznej (do rodziny, grupy rówieśniczej i wspólnoty narodowej) oraz postawy patriotycznej;</li>
<li>zapewnienie dzieciom lepszych szans edukacyjnych poprzez wspieranie ich ciekawości, aktywności i samodzielności, a także kształtowanie tych wiadomości; 
i umiejętności, które są ważne w edukacji szkolnej;
</li>
</ol>
</p>

<p class="h1">Cele szczegółowe edukacji przedszkolnej:</p>
<p>
<ol>
<li>przedszkole realizuje nowoczesne i skuteczne rozwiązania programowe;</li>
<li>w przedszkolu dostosowuje się działania do możliwości rozwojowych dzieci;</li>
<li>zespoły nauczycieli wspomagają siebie nawzajem w organizowaniu i realizacji procesów wspomagania rozwoju dzieci;</li>
<li>oferta zajęć realizowanych w przedszkolu jest modyfikowana, wzbogacana 
i umożliwia rozwój zainteresowań dzieci;
</li>
<li>przedszkole realizuje znaną rodzicom koncepcję pracy, która jest analizowana 
i modyfikowana;</li>

</ol>
</p>

</div>