<ul id="menu_items">
  <li><a href="#/about">O nas</a></li>
  <li><a href="#/conception">Koncepcja pracy przedszkola</a></li>
  <li><a href="#/news">Aktualności</a></li>
  <li><a href="#/workers">Pracownicy przedszkola</a></li>
  <li><a href="#/council">Rada rodziców</a></li>
  <li><a href="#/statute">Statut przedszkola</a></li>
  <li><a href="#/timetable">Rozkład dnia</a></li>
  <li><a href="#/gallery_categ">Galeria</a></li>
  <li><a href="#/payments">Płatności</a></li>
  <li><a href="#/orders">Zamówienia publiczne</a></li>
  <li><a href="#/events_schedule">Harmonogram uroczystości</a></li>
  <li><a href="#/contact">Kontakt</a></li>
  <li><a href="#/recruitment">Rekrutacja do przedszkoli w roku szkolnym 2015/2016</a></li>
</ul>